body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	width: 1024px;
	height: 768px;
	background: white;
	color: #2e3436;
}

::-webkit-scrollbar {
  background: white;
  border-left: 1px solid rgb(161,161,161);
	width: 24px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	background: rgba(0,0,0,0.95);
}

::-webkit-scrollbar-corner {
    background: white;
}

/* all scrollbar targets for testing purposes
::-webkit-scrollbar              { background: white; }
::-webkit-scrollbar-button       { background: black; }
::-webkit-scrollbar-track        { background: red; }
::-webkit-scrollbar-track-piece  { background: blue; }
::-webkit-scrollbar-thumb        { background: green; }
::-webkit-scrollbar-corner       { background: yellow; }
::-webkit-resizer                { background: orange; }
*/

h1 {
	margin: 0;
	padding: 0 20px;
	background-image: -webkit-linear-gradient(90deg,#f8f8f8,#e0e0e0);
	background-image: -moz-linear-gradient(90deg,#f8f8f8,#e0e0e0);
	border-bottom: 1px solid rgb(161,161,161);
	color: #2e3436;
	font-size: 20pt;
	line-height: 50px;
	height: 50px;
	position: absolute
	top: 0;
}

h2 {
	padding-left: 20px;
}

div.footer {
	height: 50px;
	width: 1024px;
	position: absolute;
	top: 716px;
	margin: 0;
	padding: 0;
	background: white;
	border-top: 1px solid rgb(161,161,161);
}

div.footer .back
{
	background: url("/static/back.svg") 0px 7px no-repeat;
	padding-left: 20px;
	margin-left: 10px;
	color: #2e3436;
	font-size: 20px;
	line-height: 50px;
}

div.footer .back:hover
{
	text-decoration: underline;
}

a {
	text-decoration: none;
}

.users-list {
	position: absolute;
	background: white;
	height: 716px;
	overflow-x: scroll;
	overflow-y: scroll;
}

div.user {
	float: left;
	width: 150px;
	height: calc(200px + 25px + 25px );
	margin: 10px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.95);
	border-radius: 5px;
	background: rgba(0,0,0,0.95);
}

div.user .name {
	text-align: center;
	width: 100%;
	max-height: 25px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	line-height: 25px;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
}

div.side .user .name {
	max-height: 300px;
	overflow: auto;
	text-overflow: clip;
	white-space: normal;
	word-wrap: break-word;
}

div.user .balance {
	float: right;
	color: orange;
	font-size: 16px;
	line-height: 25px;
	display: block;
	position:relative;
}

div.user span.user-image {
	display: block;
	width: 150px;
	height: 200px;
	display:block;
}

div.user img {
	display: block;
	width: 150px;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

div.user span.new {
	display: block;
	width: auto;
	height: auto;
	font-size: 100px;
	text-align: center;
	color: rgba(255,255,255,0.8);
}

div.side {
	width: 182px;
	height: 651px;
	float: left;
	background-color: #fafafa;
	border-right: 1px solid rgb(161,161,161);
	padding: 10px 5px 5px 5px;
}

div.side ul {
	margin: 0;
	padding: 0;
}

div.side ul li
{
	list-style-type: none;
	display: block;
	float:left;
	padding: 0 5px;
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
}

div.side ul li form
{
	margin: 0;
	padding: 0;
	display: block;
	width: 172px;
}

select {
	display: block;
	width: 172px;
	height: 35px;
	margin: 5px 0 5px 0px;
	font-size: 14px;
}

input[type="number"],
input[type="text"] {
	float: left;
	display: block;
	width: 65px;
	height: 33px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: black;
	border: 1px solid rgb(190,190,190);
	border-radius: 2px;
	background: white;
	box-shadow: 0px 1px white;
}

input[type="submit"] {
	float: right;
	display: block;
	width: 100px;
	height: 35px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: black;
	border: 1px solid rgb(190,190,190);
	border-radius: 2px;
	background: -webkit-linear-gradient(-90deg,rgb(247,247,247),rgb(220,220,220));
	box-shadow: 0px 1px white;
}

input[type="submit"]:focus,
input[type="submit"]:active {
	background: -webkit-linear-gradient(90deg,rgb(247,247,247),rgb(220,220,220));
}

.input_update {
	width: 172px !important;
}

input[type="text"] {
	width: 100%;
}

div.side .change_info .form_input {
	width: 172px;
}

div.side .change_info .form_button {
	width: 172px;
	float: left;
}

div.side .change_info span {
	display: block;
	margin-bottom: 20px;
}

div.main_wrapper {
	width: 1024px;
	height: 666px;
	float:right;
	padding: 0;
	margin: 0;
	display: block;
	overflow-y: scroll;
}

div.products {
	width: 831px;
	height: 666px;
	float:right;
	padding: 0;
	margin: 0;
	display: block;
	overflow-y: scroll;
}

div.main_wrapper .user {
	margin: 10px 15px;
}

div.prod {
	float: left;
	width: 125px;
	height: calc(230px + 10px +10px + 25px + 25px );
	margin: 10px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
}

.prod img {
	width:  auto;
	height:  230px;
	display: block;
	margin: 0 auto;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

div.prod .prod_name {
	text-align: center;
	width: 100%;
	display: block;
	word-wrap: break-word;
	font-size: 18px;
	line-height: 25px;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
}

div.prod .price {
	float: right;
	color: white;
	font-size: 22px;
	line-height: 25px;
	display: block;
}

.products .balance,
.products .history {
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid rgb(161,161,161);
	max-width: 791px;
}

.products .balance .number,
.products .history .number {
	text-align: right;
}

.products .balance td,
.products .history td {
	padding: 5px;
	border: 1px solid rgb(161,161,161);
}

div.bottom-big {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	margin: 0;
	background: transparent;
}

div.bottom-big div.guest-account,
div.bottom-big div.free-account {
	font-size: 22pt;
	margin: 0;
	padding: 15px 30px;
	border: 1px solid rgba(0,0,0,0.95);
	border-radius: 5px;
	background: rgba(0,0,0,0.95);
	color: white;
	box-shadow: 0px 0px 1px 1px white;
}

div.bottom-big div.guest-account {
	float: left;
	margin-left: 20%;
}

div.bottom-big div.free-account {
	float: right;
	margin-right: 20%;
}

div.add_user {
	width: 432px;
	height: 300px;
	padding: 10px;
	margin: 50px auto;
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
}

div.add_user dl dt {
	color: white;
	font-size: 16px;
	line-height: 35px;
	width: 105px;
	display: block;
	float: left;
	margin: 5px 0;
}

div.add_user dl dd {
	color: black;
	font-size: 22pt;
	display: block;
	line-height: 35px;
	height: 35px;
	width: 307px;
	float: right;
	margin: 5px 0;
	padding: 0;
}

div.add_user dl dd .form_input {
	width: 307px;
}

div.add_user dl dd .form_submit {
	float: right;
	display: block;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	color: #2e3436;
}

div.add_user dl dd input[type="file"] {
	display: block;
	height: 35px;
	line-height: 35px;
	width: 307px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	color: #2e3436;
}

.flash {
	background: rgb(74,144,217);
	border: 1px solid rgb(211,211,211);
	border-radius: 5px;
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	padding: 0 20px;
	font-size: 20pt;
	line-height: 40px;
	height: 40px;
	float: right;
}

.error {
	background: #F0D6D6;
	padding: 0.5em;
}
