body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-height: 768px;
	max-width: 1024px;
}

div.screen {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: navy;
}

.users-list {
	height:  100%;
	width: 100%;
}

div.user {
	min-width: 100px;
	float: left;
	height: calc(150px + 2.5em);
	margin: 5px;
	position: relative;
}

div.user .name {
   position: absolute;
   bottom: 1.2em;
   text-align: center;
   width: 100%;
   display: block;
   word-wrap: break-word;
}

div.user .balance {
   position: absolute;
   bottom: 0;
   right: 0;
}

div.user img {
	width: auto;
	height: 150px;
	position: relative;
	display: block;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

div.user span.new {
	display: block;
	width: 100%;
	height: 150px;
	font-size: 100px;
	text-align: center;
	top: 10%;
	position: relative;
}

div.products {
	width: 100%;
	
}

div.prod {
	min-width: 100px;
	float: left;
	height: calc(300px + 2.5em);
	margin: 5px;
	position: relative;
}

.prod img {
	width:  auto;
	height:  300px;
	position: relative;
	display: block;
	margin-bottom: .5em;
	
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

div.side {
	left: 0;
	min-width: 150px;
	min-height: 800px;
	height: 100%;
	float: left;
}

div.bottom-big {
	height: 68px;
	width: calc(100% - 20px);
	padding: 10px;
	bottom: 0;
	margin: 0;
	background-color: #ebb0ff;
	position: absolute;
}

div.bottom-big div.guest-account {
	float: left;
	width: 80%;
	height: 100%;
	text-align: center;
	font-size: 50px;
	vertical-align: middle;
}

div.bottom-big div.free-account {
	float: right;
	width: 20%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

div.bottom-big div.add_money {
	float: left;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

div.bottom-big div.sub_money {
	float: right;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

div.bottom-big div.transfer_money {
	float: right;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

div.bottom-big div.back {
	float: left;
	width: 10%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.flash {
	background: #CEE5F5;
	padding: 0.5em;
	border: 1px solid #AACBE2;
	
}

.error {
	background: #F0D6D6;
	padding: 0.5em;
}