
body
{
	font-family: 'Open Sans', sans-serif;

	width: 1024px;
	height: 768px;
	margin: 0;
	padding: 0;

	user-select: none !important;

	color: #2e3436;
	background: white;
}

::-webkit-scrollbar
{
	width: 24px;

	border-left: 1px solid rgb(161,161,161);
	background: white;
}

::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 5px;
	background: rgba(0,0,0,.95);
}

::-webkit-scrollbar-corner
{
	background: white;
}

/* all scrollbar targets for testing purposes
::-webkit-scrollbar              { background: white; }
::-webkit-scrollbar-button       { background: black; }
::-webkit-scrollbar-track        { background: red; }
::-webkit-scrollbar-track-piece  { background: blue; }
::-webkit-scrollbar-thumb        { background: green; }
::-webkit-scrollbar-corner       { background: yellow; }
::-webkit-resizer                { background: orange; }
*/

h1
{
	font-size: 20pt;
	line-height: 50px;

	position: absolute
	top: 0;

	height: 50px;
	margin: 0;
	padding: 0 20px;

	color: #2e3436;
	border-bottom: 1px solid rgb(161,161,161);
	background-image: -webkit-linear-gradient(90deg,#f8f8f8,#e0e0e0);
	background-image:    -moz-linear-gradient(90deg,#f8f8f8,#e0e0e0);
}

h2
{
	padding-left: 20px;
}

div.footer
{
	position: absolute;
	top: 716px;

	width: 1024px;
	height: 50px;
	margin: 0;
	padding: 0;

	border-top: 1px solid rgb(161,161,161);
	background: white;
}

div.footer .back
{
	font-size: 20px;
	line-height: 50px;

	margin-left: 10px;

	color: #2e3436;
}

div.footer .back:hover
{
	text-decoration: underline;
}

a
{
	text-decoration: none;
}

div.user
{
	float: left;

	width: 150px;
	height: calc(200px + 25px + 25px );
	margin: 10px;
	padding: 5px;

	border: 1px solid rgba(0,0,0,.95);
	border-radius: 5px;
	background: rgba(0,0,0,.95);
}

div.user .name
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;

	display: block;
	overflow: hidden;

	width: 100%;
	max-height: 25px;

	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;

	color: rgba(255,255,255,.8);
}

div.side .user .name
{
	overflow: auto;

	max-height: 300px;

	white-space: normal;
	text-overflow: clip;
	word-wrap: break-word;
}

div.user .balance
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;

	position: relative;

	display: block;
	float: right;

	color: green;
	border: 0;
}

div.user span.user-image
{
	display: block;

	width: 150px;
	height: 200px;
}

div.user img
{
	display: block;

	width: 150px;
	height: 200px;

	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, .2)));
}

div.user span.new
{
	font-size: 100px;

	display: block;

	width: auto;
	height: auto;

	text-align: center;

	color: rgba(255,255,255,.8);
}

div.side
{
	float: left;

	width: 182px;
	height: 651px;
	padding: 10px 5px 5px 5px;

	border-right: 1px solid rgb(161,161,161);
	background-color: #fafafa;
}

div.side ul
{
	margin: 0;
	padding: 0;
}

div.side ul li
{
	font-size: 20px;
	line-height: 30px;

	display: block;
	float: left;

	margin: 0;
	margin-bottom: 20px;
	padding: 0 5px;

	list-style-type: none;
}

div.side ul li form
{
	display: block;

	width: 172px;
	margin: 0;
	padding: 0;
}

select
{
	font-size: 14px;

	display: block;

	width: 172px;
	height: 35px;
	margin: 5px 0 5px 0;
}

input[type='number'],
input[type='text']
{
	font-size: 14px;

	display: block;
	float: left;

	width: 65px;
	height: 33px;
	margin: 0;
	padding: 0;

	text-align: center;

	color: black;
	border: 1px solid rgb(190,190,190);
	border-radius: 2px;
	background: white;
	box-shadow: 0 1px white;
}

input[type='button'],
input[type='submit']
{
	font-size: 14px;

	display: block;
	float: right;

	width: 100px;
	height: 35px;
	margin: 0;
	padding: 0;

	text-align: center;

	color: black;
	border: 1px solid rgb(190,190,190);
	border-radius: 2px;
	background: -webkit-linear-gradient(-90deg,rgb(247,247,247),rgb(220,220,220));
	box-shadow: 0 1px white;
}

input[type='submit']:focus,
input[type='submit']:active
{
	background: -webkit-linear-gradient(90deg,rgb(247,247,247),rgb(220,220,220));
}

.input_update
{
	width: 172px !important;
}

input[type='text']
{
	width: 100%;
}

div.side .change_info .form_input
{
	width: 172px;
}

div.side .change_info .form_button
{
	float: left;

	width: 172px;
}

div.side .change_info span
{
	display: block;

	margin-bottom: 20px;
}

div.main_wrapper
{
	display: block;
	float: right;
	overflow-y: scroll;

	width: 1024px;
	height: 666px;
	margin: 0;
	padding: 0;
}

div.products
{
	display: block;
	float: right;
	overflow-y: scroll;

	width: 831px;
	height: 666px;
	margin: 0;
	padding: 0;
}

div.lager
{
	width: 1014px;
	margin-left: 10px;
}

div.main_wrapper .user
{
	margin: 10px 15px;
}

div.prod
{
	float: left;

	width: 125px;
	height: calc(230px + 10px +10px + 25px + 25px );
	margin: 10px;
	padding: 5px;

	border: 1px solid rgba(0,0,0,.95);
	border-radius: 5px;
	background: rgba(0,0,0,.95);
}

.prod img
{
	display: block;

	width: auto;
	height: 230px;
	margin: 0 auto;

	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, .2)));
}

div.prod .prod_name
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;

	display: block;

	width: 100%;

	text-align: center;
	word-wrap: break-word;

	color: rgba(255,255,255,.8);
}

div.prod .price
{
	font-size: 22px;
	line-height: 25px;

	display: block;
	float: right;

	color: white;
}

.balance,
.history
{
	font-size: 16px;

	max-width: 666px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;

	border: 1px solid rgb(161,161,161);
}

.balance .number,
.history .number
{
	text-align: right;
}

.balance td,
.history td
{
	padding: 5px;

	border: 1px solid rgb(161,161,161);
}

div.bottom-big
{
	position: absolute;
	z-index: 999;
	bottom: 0;

	width: 100%;
	margin: 0;
	padding: 5px 0;

	background: transparent;
}

div.bottom-big div.guest-account,
div.bottom-big div.free-account
{
	font-size: 26px;
	line-height: 30px;

	margin: 0;
	padding: 5px 15px;

	color: white;
	border: 1px solid rgba(0,0,0,.95);
	border-radius: 5px;
	background: rgba(0,0,0,.95);
	box-shadow: 0 0 1px 1px white;
}

div.bottom-big div.guest-account
{
	float: left;

	margin-left: 20%;
}

div.bottom-big div.free-account
{
	float: right;

	margin-right: 20%;
}

div.add_user
{
	width: 432px;
	height: calc( 3 * 45px + 50px + 5px );
	margin: 50px auto;
	padding: 10px;

	border: 1px solid rgba(0,0,0,.8);
	border-radius: 5px;
	background: rgba(0,0,0,.8);
}

div.add_user dl
{
	margin: 0;
	padding: 0;
}

div.add_user dl dt
{
	font-size: 16px;
	line-height: 35px;

	display: block;
	float: left;

	width: 105px;
	margin: 5px 0;

	color: white;
}

div.add_user dl dd
{
	font-size: 22pt;
	line-height: 35px;

	display: block;
	float: right;

	width: 307px;
	height: 35px;
	margin: 5px 0;
	padding: 0;

	color: black;
}

div.add_user dl dd .form_input
{
	width: 307px;
}

div.add_user dl dd .form_submit
{
	font-size: 14px;

	display: block;
	float: right;

	width: 100%;
	height: 35px;
	margin: 0;
	margin-top: 15px;
	padding: 0;

	text-align: center;

	color: #2e3436;
}

div.add_user dl dd input[type='file']
{
	font-size: 14px;
	line-height: 35px;

	display: block;

	width: 307px;
	height: 35px;
	margin: 0;
	padding: 0;

	text-align: center;

	color: #2e3436;
}

div.activate_user
{
	width: 432px;
	height: calc( 35px + 2px + 5px );
	margin: 50px auto;
	padding: 10px;

	border: 1px solid rgba(0,0,0,.8);
	border-radius: 5px;
	background: rgba(0,0,0,.8);
}

div.activate_user select
{
	float: left;
}

div.activate_user .form_submit
{
	font-size: 22pt;
	font-size: 14px;
	line-height: 35px;

	display: block;
	float: right;

	width: 200px;
	height: 35px;
	margin: 5px 0;
	padding: 0 10px;

	text-align: center;

	color: black;
	color: #2e3436;
	border: 1px solid transparent;
}

.flash
{
	font-size: 20pt;
	line-height: 40px;

	position: absolute;
	top: 5px;
	right: 5px;

	float: right;

	height: 40px;
	margin: 0;
	padding: 0 20px;

	color: white;
	border: 1px solid rgb(211,211,211);
	border-radius: 5px;
	background: rgb(74,144,217);
}

.error
{
	padding: .5em;

	background: #f0d6d6;
}

div.numpad
{
	position: absolute;
	z-index: 999;
	top: 50px;
	left: 192px;

	visibility: hidden;

	width: 798px;
	height: 656px;
	padding: 5px;

	border: 0;
	border-radius: 0;
	background-color: rgba(0,0,0,.9);
}

div.numpad table
{
	position: relative;
	top: 200px;
	left: 200px;

	padding: 5px;

	border: 1px solid #000;
	border-radius: 2px;
	background-color: #fff;
}
