{% extends "layout.html" %}
{% block body %}

<div class="main_wrapper" style="height:666px;" unselectable='on' onselectstart='return false;' onmousedown='return false;'>

<h2><i class="fa fa-truck"> </i> <a href="{{ url_for('admin_lieferung', admin=admin_panel) }}">Neue Lieferung eintragen</a></h2>

<h2>Aktueller Lagerbestand:</h2>
<table class="balance">
  <tr>
    <td>Ware</td>
    <td>Bestand</td>
    <td>Einheit</td>
    <td></td>
  </tr>
  {% for b in balance %}
  <tr>
    <td>{{ b.valuable_name }}</td>
    <td class="number">{{ b.balance }}</td>
    <td>{{ b.unit_name}}</td>
    <td>
      {% if b.valuable_name|string() == "Euro" %}
      <i class="fa fa-money" />
      {% else %}
      <a class="fa fa-pencil" href="{{ url_for('admin_edit_item', admin=admin_panel, item_name=b.valuable_name, item_id=b.valuable_id) }}"> </a>
      {% endif %}
    </td>
  </tr>
  {% else %}
  <tr>
    <td><em>Unbelievable. No balances here so far.</em></td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="4" style="text-align: right;"><a class="fa fa-plus-circle" href="{{ url_for('admin_add_item', admin=admin_panel) }}"> Neuen Gegenstand hinzufügen</a></td>
  </tr>
</table>

</div>

{% endblock %}
