{% extends "layout.html" %}
{% block body %}

<div class="main_wrapper" style="height:666px;" unselectable='on' onselectstart='return false;' onmousedown='return false;'>

<div>

<h2><a href="{{ url_for('admin_lieferung', admin=admin_panel) }}">Neue Lieferung eintragen</a></h2>


<h2>Statistik:</h2>
<table class="balance">
  <tr>
    <td>Ware</td>
    <td>Bestand</td>
    <td>Einheit</td>
    <td></td>
  </tr>
  {% for b in balance %}
  <tr>
    <td>{{ b.valuable_name }}</td>
    <td class="number">{{ b.balance }}</td>
    <td>{{ b.unit_name}}</td>
    <td><a class="fa fa-pencil" href="{{ url_for('admin_edit_item', item=b.valuable_name, admin=admin_panel) }}"> </a></td>
  </tr>
  {% else %}
  <tr>
    <td><em>Unbelievable. No balances here so far.</em></td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="4" style="text-align: right;"><a class="fa fa-plus-circle" href="#"> Neuen Gegenstand hinzufügen</a></td>
  </tr>
</table>

</div>

<div class="bottom-big">
    <a href="{{ url_for('show_userpage', admin=admin_panel, username='Gäste') }}"><div class="guest-account"><i class="fa fa-users"></i> Gäste</div></a>
   <a href="{{ url_for('show_userpage', admin=admin_panel, username='Materialsammlung') }}"><div class="free-account"><i class="fa fa-files-o"></i> Materialsammlung</div></a>
</div>
{% endblock %}
