<!doctype html>
<title>FSIKasse</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.js"></script>
<script type="text/javascript">$(function() {setTimeout(function() { $(".flash").fadeOut(2000); }, 10000)})</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link type="text/css" href="{{ url_for('static', filename='js/jquery.keypad.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.plugin.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.keypad.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.keypad-de.js') }}"></script>

<script>
$(function () {
	$('.input_number').keypad({layout: ['789' + $.keypad.CLOSE,
                                      '456' + $.keypad.CLEAR,
                                      '123' + $.keypad.BACK,
                                      '.0'  + $.keypad.SPACE]});
});

</script>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% block body %}Nichts zu sehen.{% endblock %}
