<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>FSIKasse</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/numpad.js') }}"></script>

<body>

<h1 class="header">{{ title }}:</h1>

<div class="numpad" id="numpad">
  <input type="hidden" id="numpad_element_id" value="" />
  <table>
    <tr>
      <td> <input type="button" value="1" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="2" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="3" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="close" class="numpad-key" onClick="numpadHide();" /> </td>
    </tr>

    <tr>
      <td> <input type="button" value="4" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="5" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="6" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="+1€" class="numpad-key" onClick="numpadAdd(100);" /> </td>
    </tr>
    <tr>
      <td> <input type="button" value="7" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="8" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="9" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="+5€" class="numpad-key" onClick="numpadAdd(500);" /> </td>
    </tr>
    <tr>
      <td> <input type="button" value="C" class="numpad-key" onClick="numpadClear();" /> </td>
      <td> <input type="button" value="0" class="numpad-key" onClick="numpadAppend(this.value);" /> </td>
      <td> <input type="button" value="←" class="numpad-key" onClick="numpadBackspace();" /> </td>
      <td> <input type="button" value="+10€" class="numpad-key" onClick="numpadAdd(1000);" /> </td>
    </tr>
  </table>
</div>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% block body %}Nichts zu sehen.{% endblock %}

<div class="footer" unselectable='on' onselectstart='return false;' onmousedown='return false;'>
  {% if return_to_userpage == True %}
  	<a href="{{ url_for('show_userpage', username=user.name) }}" class="back">
  {% elif admin_panel == True %}
    <a href="{{ url_for('admin_index') }}" class="back">
  {% else %}
  	<a href="{{ url_for('show_index') }}" class="back">
  {% endif %}
  	 <i class="fa fa-arrow-circle-o-left"></i> zurück</a>
</div>
</body>
