{% extends "layout.html" %}
{% block body %}

<div class="side">
  <a href="{{ url_for('edit_userprofile', username=user.name) }}">
    <div class="user" style="height:auto;">
      {% if user.image_path %}
      <img src="{{ url_for('static', filename=user.image_path) }}" />
      {% else %}
      <img src="/static/users/default_user.jpg" />
      {% endif %}
      <span class="name">{{ user.name }}</span>
    </div>
  </a>
  <ul>
    {% if not user.direct_payment %}
    <li>Einzahlen:
      <form action="{{ url_for('add_to_account', username=user.name) }}" method="post">
        <input type="number" class="input_number" id="add_to_account_amount" min="0" max="100" step="0.01" size="6" name="amount" value="0.00" onFocus="numpadShow(this.id);" />
        <input type="submit" value="Einzahlen"/>
      </form>
    </li>
    <li>Geld überweisen:
      <form action="{{ url_for('transfer_money', username=user.name) }}" method="post">
        <select name="to">
          {% for u in user_list %}
          <option>{{ u.name }}</option>
          {% endfor %}
        </select>
        <input type="number" class="input_number" id="transfer_money_amount" min="0" max="100" step="0.01" size="6" name="amount" value="0.00" onFocus="numpadShow(this.id);" />
        <input type="submit" value="Überweisen" />
      </form>
    </li>
    <li>Auszahlen:
      <form action="{{ url_for('sub_from_account', username=user.name) }}" method="post">
        <input type="number" class="input_number" id="sub_from_account_amount" min="0" max="100" step="0.01" size="6" name="amount" value="0.00" onFocus="numpadShow(this.id);" />
        <input type="submit" value="Auszahlen" />
      </form>
    </li>
    <li>Geld einsammeln:
      <form action="{{ url_for('collect_money', username=user.name) }}" method="get">
        <input type="submit" value="Einsammeln" />
      </form>
    </li>
    {% endif %}
  </ul>
</div>

<div class="products" unselectable='on' onselectstart='return false;' onmousedown='return false;'>
{% for prod in products %}
  {% if prod.active == 1 %}
    <a href="{{ url_for('action_buy', username=user.name, valuablename=prod.name) }}">
      <div class="prod">
        {% if prod.image_path %}
        <img src="{{ url_for('static', filename=prod.image_path) }}" />
        {% else %}
        <img src="{{ url_for('static', filename='products/placeholder.png') }}" />
        {% endif %}
        <span class="prod_name">{{ prod.name }}</span>
        <span class="price">{{ prod.price }}&cent;</span>
      </div>
    </a>
  {% endif %}
{% else %}
  <em>Unbelievable. No products here so far.</em>
{% endfor %}
</div>
{% endblock %}
