{% extends "layout.html" %}
{% block body %}

<h1 class="header">Benutzerübersicht:</h1>

<div class="main_wrapper" style="height:666px;">

<div id="users-list">
    {% for user in users %}
    <a href="{{ url_for('show_userpage', username=user.name) }}">
      <div class="user">
        <span class="user-image">
          {% if user.image_path %}
          <img src="{{ url_for('static', filename=user.image_path) }}" />
          {% else %}
          <img src="/static/users/default_user.jpg" />
          {% endif %}
        </span>
        <span class="name">{{ user.name }}</span>
        <span class="balance" {% if user.balance < 0.0 %}style="color: red;"{% endif %}>
            {{ '%.2f' % (user.balance / 100.0) }} €
        </span>
      </div>
    </a>
    {% else %}
    <em>Unbelievable. No users here so far.</em></li>
  {% endfor %}
  {% if admin_panel %}
  <a href="{{ url_for('add_user') }}"><div class="user">
        <span class="user-image">
          <span class="new"><i class="fa fa-plus-circle"></i></span>
        </span>
      <span class="name">Neuer Nutzer</span>
      <span class="balance"></span>
  </div></a>
  {% endif %}
</div>

</div>

<div class="bottom-big">
    <a href="{{ url_for('show_userpage', username='Gäste') }}"><div class="guest-account"><i class="fa fa-users"></i> Gäste</div></a>
   <a href="{{ url_for('show_userpage', username='Materialsammlung') }}"><div class="free-account"><i class="fa fa-files-o"></i> Materialsammlung</div></a>
</div>
{% endblock %}
