{% extends "layout.html" %}
{% block body %}

<h1 class="header">Benutzerübersicht:</h1>

<div class="main_wrapper" style="height:716px;">

<div id="users-list">
    {% for user in users %}
    <a href="{{ url_for('show_userpage', username=user.name) }}">
      <div class="user">
        <span class="user-image">
          {% if user.image_path %}
          <img src="{{ url_for('static', filename=user.image_path) }}" />
          {% else %}
          <img src="/static/dummy-user.svg" />
          {% endif %}
        </span>
        <span class="name">{{ user.name }}</span>
        <span class="balance" {% if user.balance < 0.0 %}style="color: red;"{% endif %}>
            {{ '%.2f' % (user.balance / 100.0) }} €
        </span>
      </div>
    </a>
    {% else %}
    <em>Unbelievable. No users here so far.</em></li>
  {% endfor %}
  <a href="{{ url_for('add_user') }}"><div class="user">
        <span class="user-image">
          <img src="/static/add.svg" />
          <!-- <span class="new">+</span> -->
        </span>
      <span class="name">Neuer Nutzer</span>
      <span class="balance"></span>
  </div></a>
</div>

<div style="display:block; width: 500px; min-height: 100px; float:right;">.</div>

</div>

<div class="bottom-big">
    <a href="{{ url_for('show_userpage', username='Gäste') }}"><div class="guest-account">Gäste</div></a>
   <a href="{{ url_for('show_userpage', username='Materialsammlung') }}"><div class="free-account">Materialsammlung</div></a>
</div>
{% endblock %}
